* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* khôi phục lại font-size như lúc đầu */
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ================common=============== */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px); /* để hiện thị trên màn hình nhỏ hơn 1170px */
    margin-left: auto;
    margin-right: auto;

}

/* =================header============== */
.header {
    background: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -28px;
}
.header .header-body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
    
}

.header-body .nav {
    margin-left: auto;
}


.nav ul {
    display: flex;
}

.nav a {
    display: block;
    color: #5F5B53;
    text-align: center;
    font-size: 1.6rem;
    padding: 8px 21px;
    position: relative;
    /* background-color: aqua; */
}

.nav li.active a,
.nav a:hover {
    color: #171100;
    /* font-weight: 600; */
    text-shadow: 1px 0 0px currentColor;
}

.nav li.active a::after {
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    background-color: #171100;
    border-radius: 1px;
    position: absolute;
    bottom: 2px;
    left: 21px;
}

.btn {
    display: inline-block;
    min-width: 118px;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 24.5px;
    background: #171100;
    padding: 0px 16px;
    line-height: 50px;
}

.header .btn-sign-up {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* ================hero============= */
.hero {
    /* margin-top: 57px; */
    padding-top: 57px;
    background-color: #FFFCF4;
}

.hero .hero-body {
    display: flex;
}

.hero .media-block {
    width: 48%;
}
.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .content-block {
    width: 52%;
}
